<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>DBI Trades</title>
    <link href="/css/header.css" rel="stylesheet">
</head>
<header th:fragment="header">



    <div class="headerName"><img src="./steam.svg"><p>Bsuir Trade Bot</p></div>

    <div class="menu">
        <ul class="navigation">
            <li><a href="#">Магазин</a></li>
            <li><a href="#">Продажа</a></li>
            <li><div class="balance">
                <div><p>Баланс<div id="balance">$ 0</div></p></div>
                <button type="button">+</button>
            </div>

            <li><img  th:src="${mediumImgURL}"></li>
        </ul>
    </div>



</header>
