header{
    padding: 0 20px 0 50px;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212126;
    line-height: 25px;
    color: #fefefe;
    margin-bottom: 60px;
}
.headerName{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 3px rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    line-height: 0px;
}
.register{
    background-color: #36363c;
    border-radius: 4px;
}
header img{
    height: 70px;
    width: 150px;
    margin-right: 20px;
}
.navigation li{
    margin: 0 20px;
}
.navigation a:hover{
    color: white;
}
.navigation a{
    color: #b19d9f;
}
.center{
    max-width: 1200px;
    margin: 0 auto;
}
.navigation p{
    padding: 0;
    margin: 0;
    margin-top: -10px;
}
.navigation img{
    padding: 0;
    margin: 0;
    margin-top: -10px;
    width: 52px;
    height: 52px;
    border-radius: 40px;
    cursor: pointer;
}
html{
    min-height: 950px;
    margin: 0;
    padding: 0;
    background: linear-gradient(
            45deg
            , rgba(24, 24, 24, 0.959), rgb(13, 0, 29));
}
.menu {
    display: flex;
    flex-direction: row;

}
.balance{
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    background-color: #36363c;
    padding: 15px;
    border-radius: 5px;
}
.balance button{
    color: #c0c0c2;
    font-size: 20px;
    margin-left: 10px;
    padding: 0 8.70px;
    background-color: #7668cb;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}
.balance button:hover{
    color: white;
    background-color: #887fc2;
}
.balance button:active{
    transform: translateY(1px);
}
.menu .balanceAndAvatar{
    line-height: 35px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu a{
    text-decoration: none;
}
.mainPage{
    color: white;
}
.profile{
    display: flex;
    flex-direction: column;
    background-color: #212126;
    width: 550px;
    height: 350px;
    padding: 10px 40px 0 40px;
    margin-bottom: 40px;
}
.profile ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    height: 240px;
    color: #c0c0c2;
}
.imgName{
    display: flex;
    flex-direction: row;
    line-height: 64px;
}
.imgName img{border-radius: 45px;}
.imgName #name{padding-left: 30px;}

i{
    height: 1px;
    background-color: #36363c;
}
#name{
    font-size: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #212126;
    padding: 10px 40px 0 40px;
}
.tradeLink{
    margin-top: 30px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 15px;
    font-size: 18px;
}
.tradeLink button{
    margin-left: 10px;
    background-color: #212126;
    font-size: 18px;
    cursor: pointer;
    color: #b098f0;
}
.tradeLink button:hover{color: white;}
.tradeLink button:active{
    transform: translateY(1px);
    transform: scale(0.99) ;
}
.tradeLink form{line-height: 30px;}
.tradeLink #textLink, .tradeLink button{
    height: 43px;
}
.tradeLink form .resetBtn{
    padding: 0 5px;
    height: 40px;
    background-color: #44444b;
    border-radius: 5px;
    margin-left: -30px;
    margin-bottom: -10px;
    color: #87878b;
    font-size: 20px;
    cursor: pointer;
}
#textLink{
    color: #b8c0bb;
    font-size: 16px;
    width: 720px;
    background-color: #44444b;
    border: none;
    border-radius: 5px;
}
.tradeLink button{
    border: none;
}