<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
<div style="background-color: #2a2d33;">
    <div class="row">
        <div class="col-8">
            <div>
                <h4>Heading</h4>
            </div>
            <div id="userInventory" class="inventory" style="display: grid;grid-template-columns: 25% 25% 25% 25%;">
                <div class="skin" th:each="skin : ${skinsList}">
                    <div class="image" th:style="'background:url(' + ${skin.iconUrl} + ');'"></div>
                    <div class="price"  th:text="${skin.marketHashName}" style="text-align: center;font: 13px sans-serif,'open sans';color: #b5b6b7;padding-top: 5px;"></div>
                </div>
                <div class="skin active">
                    <div class="image" style="background-image: url();"></div>
                    <div class="price" style="text-align: center;font: 13px sans-serif,'open sans';color: #b5b6b7;padding-top: 5px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4"><button class="btn btn-primary" type="button">Button</button></div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>