<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile-info.css">
    <title>Trade Bot</title>
</head>
<body>

<header>

    <div class="headerName"><img src="/pics/steamLogo.svg"><p>Fast Trade Bot</p></div>

    <div class="menu">
        <ul class="navigation">
            <li><a href="purchase">Купить преметы</a></li>
            <li><a href="selling">Продать предметы</a></li>
            <li><a href="welcome">Как это работает</a></li>
            <li><div class="balance">
                <div><p>Баланс<div id="balance">$ 0</div></p></div>
                <button type="button">+</button>
            </div>

            <li><a href="profile-info"><img  th:src="${user.mediumAvatarUrl}"></a></li>
        </ul>
    </div>

</header>

<section class="mainPage">
    <div class="center">
        <h1>Личная информация</h1>
        <div class="profile">
            <h2>Профиль</h2>
            <ul>
                <li><div class="imgName">
                    <img th:src="${user.mediumAvatarUrl}" width="64px" height="64px">
                    <p th:text = "${user.name}"/>
                </div></li>
                <i></i>
                <li>Регистрация: <text th:text = "${user.joinDateTime}"/></li>
                <i></i>
                <li>Обменов:<text th:text = "${user.countOfTrades}"/></li>
                <li>Стоимость инвенторя:<text th:text = " ${inventoryCost}" />$</li>
            </ul>
        </div>
        <div class="info">
            <h2>Общая информация</h2>
            <div class="tradeLink">
                <p>Trade link:</p>
                <form action="/profile-info/setTradeUrl" method="post">
                    <input type="text"  name="tradeUrlArea" style="outline: none;" id="textLink" th:value="${user.tradeUrl}">
                    <button class="resetBtn" type="reset">X</button>
                    <button type="submit"  class="btn btn-success"> Применить</button>
                </form>
                <form action="http://steamcommunity.com/my/tradeoffers/privacy"target="_blank">
                    <button id="getLink"> Получить ссылку</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
